[submodule "sources_non_forked/vim-go"]
	path = sources_non_forked/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "sources_non_forked/ale"]
	path = sources_non_forked/ale
	url = https://github.com/dense-analysis/ale
[submodule "sources_non_forked/vimwiki"]
	path = sources_non_forked/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
